<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElevenLabsAPIKey</key>
	<string>sk_40e989f9305d67acf4c3bac0c530003328a5873dce8cf838</string>
	<key>ElevenLabsVoiceID</key>
	<string>xzZRXG86mSM3naOyL9fa</string>
</dict>
</plist>
